.clubSpain, .actClubSH {
    text-align: center;
    height: 550px;
    background-color: #CFCFDB;
    padding: 2px 20px 30px 20px;
    box-shadow:
     inset 0 -3px 3px #000710,
     inset 0 3px 3px #000710;
}

.blockClub{
    display: inline-block;
    /*box-shadow: inset 0 0 20px #777777;*/
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    height: 350px;
    width: 350px;
    /*border-width: 4px 4px 4px 4px;*/
    /*border-style: solid;*/
    background: whitesmoke;
    margin: 10px 30px 0px 30px;
    border: 4px solid black;
    /*margin: 50px auto 50px auto;*/
}

.headClub {
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    background: #7FB1D9;
    /*padding: 10px; */
   
}

.bodyClub {
    height: 300px;
    margin: auto;
    padding: 50px 50px 50px 50px;
}

#clubTitle, #topClub, #playerLaLiga {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(47, 74, 137);
}



#linkFCB {
    margin: auto;
}