html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

* {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.4em;
  margin: 0;
  background-color: #f2f2f2;
  /*font-weight: 300;*/
  font-size: 16px;
  color: #555;

   -webkit-font-smoothing: antialiased;
   -webkit-overflow-scrolling: touch;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.centered {
  text-align: center;
}

@media (min-width: 1200px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
  }

  .col-1 {

  }

  .col-2 {

  }

  .col-3 {

  }

  .col-4 {
    width: 33.33333333%;
  }

  .col-5 {

  }

  .col-6 {

  }
}

.nav_bar {
  position: fixed;
  top: 0;
  margin-top: 0;
  opacity: 1;
  z-index: 9499;
  width: 100%;
  min-height: 50px;
  padding: 25px 0;
  background: #f2f2f2;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .nav_bar_head {
    float: left;
  }
}

.container > .nav_bar_head,
.container > .nav_bar_li {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .nav_bar_head,
  .container > .nav_bar_li {
    margin-right: 0;
    margin-left: 0;
  }
}
.nav_bar_right {
  float: right !important;
  margin: 0;
  list-style: none;
}
 .nav_bar_right > li {
   float: left;
   margin-left: 20px;
 }

 .nav_bar_right > li > a {
  position: relative;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
}

.nav_bar > .container > .nav_bar_head > img {
  height: 50px;
  width: 100%;
}

.active {
  color: #f2f2f2;
  font-size: 18px;
  border-radius: 2px;
  border-style: none;
  background: #ff7878;
}